*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height:100%;
}

main{
    section{
        width: 100%;
        height: 100%;
        // background-color: aliceblue;
        display: flex;
        justify-content: center;
        margin-top: 9rem;
        gap: 1rem;
        input{
            padding: 10px;
            width: 30rem;
        }
        button{
            padding: 10px 15px;
        }
    }

    .ul{
        display: flex;
        flex-direction: column;
        // align-items:center;
        // justify-content:center;
        margin-top:50px;
        padding-left: 200px;

    }
}