*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
:root{
    --bg-primary-color: black;

    --text-primary-color:#ffffff;
}
html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}